<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Symboling</th>
      <th>BodyStyle</th>
      <th>CityMPG</th>
      <th>HighwayMPG</th>
      <th>Price</th>
    </tr>
    <tr>
      <th>Make</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>honda</th>
      <td>0</td>
      <td>suv</td>
      <td>30</td>
      <td>34</td>
      <td>7295.0</td>
    </tr>
    <tr>
      <th>nissan</th>
      <td>1</td>
      <td>suv</td>
      <td>31</td>
      <td>37</td>
      <td>7349.0</td>
    </tr>
    <tr>
      <th>nissan</th>
      <td>1</td>
      <td>suv</td>
      <td>31</td>
      <td>37</td>
      <td>7999.0</td>
    </tr>
    <tr>
      <th>renault</th>
      <td>0</td>
      <td>suv</td>
      <td>23</td>
      <td>31</td>
      <td>9295.0</td>
    </tr>
    <tr>
      <th>subaru</th>
      <td>0</td>
      <td>suv</td>
      <td>28</td>
      <td>32</td>
      <td>7463.0</td>
    </tr>
    <tr>
      <th>subaru</th>
      <td>0</td>
      <td>suv</td>
      <td>25</td>
      <td>31</td>
      <td>10198.0</td>
    </tr>
    <tr>
      <th>toyota</th>
      <td>0</td>
      <td>suv</td>
      <td>31</td>
      <td>37</td>
      <td>6918.0</td>
    </tr>
    <tr>
      <th>toyota</th>
      <td>0</td>
      <td>suv</td>
      <td>27</td>
      <td>32</td>
      <td>7898.0</td>
    </tr>
    <tr>
      <th>toyota</th>
      <td>0</td>
      <td>suv</td>
      <td>27</td>
      <td>32</td>
      <td>8778.0</td>
    </tr>
    <tr>
      <th>volkswagen</th>
      <td>0</td>
      <td>suv</td>
      <td>25</td>
      <td>31</td>
      <td>12290.0</td>
    </tr>
  </tbody>
</table>